:root {
    font-size: 24px;
}
html {
    background: rgb(229, 229, 241);
}

.container {
    width: 90vw;
    margin: 0 auto;
}

h1{
    color: rgb(141, 96, 223);
    width: fit-content;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 0 auto;
    
}
.movie-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 3rem;
    width: 40vw;
}
#poster {
    max-width: 10vw;
}
input {
    display: block;
    border-radius: 40px;
    

    font-size: 1.6rem;
    width: 16rem;
    max-height: 3rem;
    padding: 8px;
    margin: 0;

}


button {
    width: 6rem;
    max-height: 3rem;
    font-size: 1.2rem;
    background: rgb(141, 96, 223);
    border-radius: 40px;
    color:rgb(229, 229, 241);
}