<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- <link rel="stylesheet" href="../static/style/main.css"> -->
<link rel="stylesheet" th:href="@{/style/main.css}" />

<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>

<body>

    <div class="container">
        <div class="form-container">
            <input id="searchInput" type="text">

            <button id="searchButton">Submit</button>
        </div>

        <div class="form-container movie-container">
            <img id="poster">
            <h1 id="title"></h1>
            <p id="plot"></p>
        </div>

    </div>

</body>

<script type="text/javascript" th:src="@{/js/main.js}"></script>

</html>